:root {
    --bg-main: #f0f2f5;
    --bg-body: #fff;
    --color-txt: #000;
    --filled-color: #000;
    --filled-bg: #caf0f8;

    --white: #fff;
    --blue: #00aeef;
    --red: #e91e63;
    --black: #000;

    --nav-size: 70px;
    --sudoku-cell-size: 50px;

    --border-radius: 10px;

    --space-y: 20px;

    --gap: 5px;

    --font-size: 1.5rem;
    --font-size-lg: 2rem;
    --font-size-xl: 3rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*-webkit-tap-highlight-color: transparent;
    */
}


body{
    
    font-family: 'Figtree', cursive;
    height: 100vh;
    background-color: var(--bg-body);
    overflow-x: hidden;
    user-select: none;
}

input {
    font-family: "Figtree", cursive;
    border: 2px solid var(--bg-main);
    color: var(--color-txt);
}

input:hover,
input:focus {
    border-color: var(--blue);
}

li,a,button{
    text-decoration: none;
    color: unset;
    font-family: 'Figtree', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #0c1a1f;
    text-decoration: none;
}

header{
    background: #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    box-shadow: 0px 0px 8px rgba(0,0,0,.6);
    transition: 0.5s;
}

ul{
    list-style-type: none;
}

.logo{
    cursor: pointer;
}


.navigation_links{
    list-style: none;
}
.navigation_links li {
    display: inline-block;
    padding: 0px 20px;

}

.navigation_links li a {
    transition: all 0.3s ease 0s;
}

.navigation_links li a:hover {
    color: #00aeef;
}

/*
button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(0,136,169,0.8);
}
*/

#darktoggle{
    position: relative;
    cursor: pointer;
    display: block;
    border-radius: 40px;
    width: 80px;
    height: 40px;
    background:#222;
    transition: 0.5s;
    box-shadow: inset 0 2px 15px rgba(0,0,0,0.1),inset 0 2px 2px rgba(0,0,0,0.1),inset 0 -1px 1px rgba(0,0,0,0.1);
    
}

#darktoggle.active {
    background-color:#fff ;
    box-shadow: inset 0 1px 15px rgba(0,0,0,0.1),inset 0 1px 2px rgba(0,0,0,0.1),inset 0 -1px 2px rgba(0,0,0,0.05);
}

#darktoggle .indicator {
    position: absolute;
    top: 0;
    left: 0 ;
    width: 40px;
    height: 40px;
    background: linear-gradient(to bottom,#444,#222) ;
    border-radius: 50%;
    transform: scale(0.9) ;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5), inset 0 1px 1px rgba(255, 255, 255, 0.2),inset 0 -1px 1px rgba(255, 255, 255, 0.2);
    transition: 0.5s;

}

#darktoggle.active .indicator {
    left: 50%;
    background: linear-gradient(to bottom,#eaeaea,#f9f9f9) ;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1), inset 0 1px 1px rgba(255, 255, 255, 1),inset 0 -1px 1px rgba(255, 255, 255, 1);
}

body.active{
    background: #2b2b2b;
}

header.active{
    background: #d4d4d4;
}

.main {
    /* height: 100vh; */
    padding-top: var(--nav-size);
    display: grid;
    place-items: center;
}

.screen {
    position: relative;
    overflow: hidden;
    height: 100%;
    min-width: 400px;
}
.start-screen {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start-screen.active {
    transform: translateX(0);
}
.start-screen > * + * {
    margin-top: 20px;
}

.input-name {
    height: 80px;
    width: 280px;
    border-radius: var(--border-radius);
    outline: 0;
    background-color: var(--bg-main);
    padding: 20px;
    font-size: var(--font-size-lg);
    text-align: center;
}
.btn {
    height: 80px;
    width: 280px;
    background-color: var(--bg-main);
    color: var(--color-txt);
    border-radius: var(--border-radius);
    display: grid;
    place-items: center;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
    font-size: var(--font-size-lg);
    cursor: pointer;
}

.btn-blue {
    background-color: var(--blue);
    color: var(--white);
}

.input-err {
    border-color: var(--red);
    animation: bounce 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
